extends layout

block head
    link(rel="stylesheet", type="text/css", href="/desktop/extjs/resources/css/ext-all.css")
    script(type="text/javascript", src="/desktop/extjs/ext-debug.js")
    script(type="text/javascript", src="/desktop/app.js")

block body
    div#grid(style="margin: 20px")
